::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #333232; 
  border-radius: 20px;
}

.hidden {
   opacity: 0;
   filter: blur(5px);
   transform: translateY(10%);
   transition: all 1s;
}

.show {
   opacity: 1;
   filter: blur(0);
   transform: translateY(0);
}